<div class="info-div">
  <h1>
    Sobre Mim
  </h1>
  <p>
    Meu nome é Sofia, tenho 20 anos e sou uma desenvolvedora fullstack da cidade de  Recife/PE.
  </p>
</div>

<div class="info-small-right-div">
  <h1>
    JORNADA ACADEMICA
  </h1>
  <app-card-info-university name="CESAR School" description="Bacharelado em Ciências da Computação, 2022.2"></app-card-info-university>
  <app-card-info-university name="FEUP - Faculdade de Engenharia da Universidade do Porto" description="Mobilidade Academica de 6 Meses, 2024.1"></app-card-info-university>
</div>

<div class="info-small-left-div">
  <h1>
    EXPERIENCIA
  </h1>
</div>
